DISBOTTOKEN=dummy
MONGO_HOST=dummy
MONGO_DATABASE=dummy
MONGO_USER=dummy
MONGO_PWD=dummy

REDDITCLIENTID=dummy
REDDITCLIENTSECRET=dummy
REDDITREFRESHTOKEN=dummy
REDDITACCESSTOKEN=dummy
REDDITUSERNAME=dummy
REDDITPWD=dummy

S3_ENDPOINT=dummy
S3_BUCKET=dummy
S3_ACCESS_KEY=dummy
S3_SECRET_KEY=dummy
